.head {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  padding: 32px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
  background-image: url('../../../img/606023.png');
}

.formhead {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

 .labelform {
  font-size: 16px;
  font-weight: bold;
}

.inputform  {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
} 

 .boton {
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.boton:hover {
  background-color: #444;
} 

.span {
color: rgb(210, 233, 5);
}